# Dependencias
/node_modules

# Archivos de entorno (contienen secretos)
.env
.env.local
.env.*

# Archivos de construcción (Vercel los genera por su cuenta)
/dist

# Logs y archivos del sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store